body{
	background-color: #FFEDD8;
}
#monform{
	width:300px;
	border:2px solid orangered;
    border-radius :30px;
    box-shadow: 1px 1px 2px #FFC400DF;
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    padding: 15px;
}
#h1ID{
	text-align: center;
	padding: 5px;
    margin :5px;
}
#submitID{
	margin-top:5px;
	padding: 5px;
	border-radius: 5px; 
}
.inpts{
	width:100%;
}
div{
	margin-top:5px;
}